.gallery-flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.gallery-img {
  width: 330px;
}

.gallery-figure {
  width: 330px;
  margin: 10px;
 
}

h2{
    font-size: 2em;
}

@media (max-width: 800px) {
  .gallery-flex-container {
    flex-direction: column;
  }
  .gallery-figure {
    width: 95%;
  }
  .gallery-img {
    width: 95%;
  }
}
