* {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
   
  }
  
  .flex-item {
    padding: 10px;
  }
  
    
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }